Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2022-04, with the labels that each got.

#184 Doc: Add ApprenticeshipPatterns chapter05.md and chapter06.md
  2022/ApprenticeshipPatterns/taehyoung/chapter05.md
  2022/ApprenticeshipPatterns/taehyoung/chapter06.md
Labels: 2022, Apprenticeship Patterns

#194 [동훈] 프로그래머의 길, 멘토에게 묻다 7장 & 실용주의 프로그래머 1장 리뷰
  2022/ApprenticeshipPatterns/donghun/Ch5. 끊임 없는 학습  ~ Ch6. 학습 과정의 구성.md
  2022/ApprenticeshipPatterns/donghun/Ch7. 맺는 글.md
  2022/ThePragmaticProgrammer20thAnniversaryEdition/donghun/Chapter1_A_Pragmatic_Philosophy.md
Labels: 2022, Apprenticeship Patterns, The Pragmatic Programmer

#190 Review appenticeship pattern chapter 7 and pragmatic programmer chapter 1
  2022/ApprenticeshipPatterns/jongfeel/Appendix_B_C.md
  2022/ApprenticeshipPatterns/jongfeel/Chapter7_Conclusion.md
  2022/ThePragmaticProgrammer20thAnniversaryEdition/Chapter1_A_Pragmatic_Philosophy.md
Labels: 2022, Apprenticeship Patterns, The Pragmatic Programmer

#195 Doc: Add the pragmatic programmer chapter01.md and ApprenticeshipPatt…
  2022/ApprenticeshipPatterns/taehyoung/chapter07.md
  2022/ThePragmaticProgrammer/chapter01.md
Labels: 2022, Apprenticeship Patterns, The Pragmatic Programmer

#174 [jolim] 프로그래머의의 길, 멘토에게 묻다 Review - Chapter 3, 4
  2022/ApprenticeshipPatterns/jolim/3장_4장
Labels: 2022, Apprenticeship Patterns

#204 [동훈] 실용주의 프로그래머 2장 리뷰
  2022/ThePragmaticProgrammer20thAnniversaryEdition/donghun/Chapter2_A_Pragmatic_Approach.md
Labels: 2022, The Pragmatic Programmer

#202 Chapter 2 a progragmatic approach
  2022/ThePragmaticProgrammer20thAnniversaryEdition/jongfeel/Chapter2_A_Pragmatic_Approach.md
Labels: 2022, The Pragmatic Programmer
