Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2022-08, with the labels that each got.

#160 add chapter 1&2
  2022/ApprenticeshipPatterns/Jihye/chapter1&2.md
Labels: 2022, Apprenticeship Patterns

#191 Review appenticeship pattern chapter 7 and pragmatic programmer chapter 1
  2022/ApprenticeshipPatterns/wooyaggo86/chapter7.md
  2022/PragmaticProgrammer/wooyaggo86/chapter1.md
Labels: 2022, Apprenticeship Patterns, The Pragmatic Programmer

#221 Docs: Add chapter05, 06
  2022/GrowTogether/taehyoung/chapter03_04.md
  2022/ThePragmaticProgrammer/chapter05.md
  2022/ThePragmaticProgrammer/chapter06.md
Labels: 2022, The Pragmatic Programmer

#226 Chapter7 - Review
  2022/ThePragmaticProgrammer20thAnniversaryEdition/wooyaggo86/Chapter7.md
Labels: 2022, The Pragmatic Programmer

#227 실용주의 프로그래머 8장, 9장
  2022/ThePragmaticProgrammer/chapter08.md
  2022/ThePragmaticProgrammer/chapter09.md
Labels: 2022, The Pragmatic Programmer

#230 docs: chapter 8
  2022/ThePragmaticProgrammer20thAnniversaryEdition/wooyaggo86/Chapter8.md
Labels: 2022, The Pragmatic Programmer

#233 Review pragmatic programmer chapter 8 9 and 10 2022 06 17
  2022/ThePragmaticProgrammer20thAnniversaryEdition/jongfeel/Chapter10_Postface.md
  2022/ThePragmaticProgrammer20thAnniversaryEdition/jongfeel/Chapter8_Before_the_Project.md
  2022/ThePragmaticProgrammer20thAnniversaryEdition/jongfeel/Chapter9_Pragmatic_Project.md
Labels: 2022, The Pragmatic Programmer
