Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2022-01, with the labels that each got.

#87 CleanCoder chapter12 collaboration
  2021/CleanCoder/jongfeel/chapter12.md
Labels: 2021, CleanCoder

#95 [yoonu] 함께 자라기 1st academic conference discussions
  2022/GrowTogether/yoonu/chapter01.md
Labels: 함께 자라기, 2022

#88 Add chapter1 from ykmo
  2022/GrowTogether/ykmo/chapter1.md
Labels: 함께 자라기, 2022

#98 [혜인] Review GrowTogether chapter1
  2022/GrowTogether/hyein/Chapter1_자라기.md
Labels: 함께 자라기, 2022

#90 [jolim] 함께자라기 Review - Chapter1 자라기
  2022/GrowTogether/jolim/Chapter1_ 자라기.md
Labels: 함께 자라기, 2022

#89 Review chapter1 자라기
  2022/GrowTogether/jongfeel/Chapter1_자라기.md
Labels: 함께 자라기, 2022

#97 [동훈] 함께 자라기 Ch1. 자라기 리뷰
  2022/GrowTogether/donghun/Chapter1_자라기.md
Labels: 함께 자라기, 2022

#91 doc: review GrowTogether chapter 1
  2022/GrowTogether/wooyaggo86/Chapter1_자라기.md
Labels: 함께 자라기, 2022

#105 CleanCoder chapter13 Teams and Projects
  2021/CleanCoder/jongfeel/chapter13.md
Labels: 2021, CleanCoder

#106 CleanCoder chapter14 Mentoring, Apprenticeship and Craftsmanship
  2021/CleanCoder/jongfeel/chapter14.md
Labels: 2021, CleanCoder

#109 CleanCoder Appendix A Tooling
  2021/CleanCoder/jongfeel/AppendixA_Tooling.md
Labels: 2021, CleanCoder

#100 Add chapter1 from jihye
  2022/GrowTogether/Jihye/chapter1.md
  2022/GrowTogether/Jihye/chapter2.md
Labels: 함께 자라기, 2022

#112 SoftwareCraftsman chapter 09 Recruitment
  2021/SoftwareCraftsman/jongfeel/chapter09.md
Labels: 2021, Software Craftsman

#96 Doc: Add GrowTogether chapter01.md
  2022/GrowTogether/taehyoung/chapter01.md
Labels: 함께 자라기, 2022

#124 [혜인] 함께 자라기 2장 리뷰
  2022/GrowTogether/hyein/Chapter2_자라기.md
Labels: 함께 자라기, 2022

#121 Review chapter2 함께
  2022/GrowTogether/jongfeel/Chapter2_함께.md
Labels: 함께 자라기, 2022

#118 [영권] Add chapter2.md
  2022/GrowTogether/ykmo/chapter2.md
Labels: 함께 자라기, 2022

#120 [동훈] 함께 자라기 Ch2. 함께 리뷰
  2022/GrowTogether/donghun/Chapter2_함께.md
Labels: 함께 자라기, 2022
