Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2022-02, with the labels that each got.

#128 SoftwareCraftsman chapter 10 Interviewing Software Craftsmen
  2021/SoftwareCraftsman/jongfeel/chapter10.md
Labels: 2021, Software Craftsman

#130 SoftwareCraftsman chapter 11 Interview Anti-Patterns
  2021/SoftwareCraftsman/jongfeel/chapter11.md
Labels: 2021, Software Craftsman

#132 SoftwareCraftsman chapter 12 The Cost of Low Morale
  2021/SoftwareCraftsman/jongfeel/chapter12.md
Labels: 2021, Software Craftsman

#107 Review chapter2 자라기
  2022/GrowTogether/wooyaggo86/Chapter2_함께.md
Labels: 함께 자라기, 2022

#139 Add chapter3 from jihye
  2022/GrowTogether/Jihye/chapter3.md
Labels: 함께 자라기, 2022

#136 [혜인] 함께자라기 3부 애자일 리뷰
  2022/GrowTogether/hyein/Chapter3_자라기.md
Labels: 함께 자라기, 2022

#137 Review chapter3 애자일
  2022/GrowTogether/jongfeel/Chapter3_애자일.md
Labels: 함께 자라기, 2022

#140 Create Chapter3_ 애자일.md
  2022/GrowTogether/jolim/Chapter3_ 애자일.md
Labels: 함께 자라기, 2022

#146 SoftwareCraftsman chapter 13 Culture of Learning
  2021/SoftwareCraftsman/jongfeel/chapter13.md
Labels: 2021, Software Craftsman

#147 SoftwareCraftsman chapter 14 Driving Technical Changes
  2021/SoftwareCraftsman/jongfeel/chapter14.md
Labels: 2021, Software Craftsman

#152 SoftwareCraftsman chapter 15 Pragmatic Craftsmanship
  2021/SoftwareCraftsman/jongfeel/chapter15.md
Labels: 2021, Software Craftsman

#156 ykmo add chapter1 and 2
  2022/ApprenticeshipPatterns/ykmo/chapter1.md
  2022/ApprenticeshipPatterns/ykmo/chapter2.md
Labels: 2022, Apprenticeship Patterns

#154 [동훈] 프로그래머의 길, 멘토에게 묻다 Ch 1. ~ Ch 2. 리뷰
  2022/ApprenticeshipPatterns/donghun/Ch1. 들어가는 글 ~ Ch2. 잔을 비우다.md
Labels: 2022, Apprenticeship Patterns

#155 Review chapter1 introduction and chapter2 emptying the cup
  2022/ApprenticeshipPatterns/jongfeel/Chapter1_Introduction.md
  2022/ApprenticeshipPatterns/jongfeel/Chapter2_Emptying_the_Cup.md
Labels: 2022, Apprenticeship Patterns

#164 SoftwareCraftsman chapter 16 A Career as a Software Craftsman
  2021/SoftwareCraftsman/jongfeel/chapter16.md
Labels: 2021, Software Craftsman

#165 SoftwareCraftsman Appendix
  2021/SoftwareCraftsman/jongfeel/appendix.md
Labels: 2021, Software Craftsman
