Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2024-06, with the labels that each got.

#414 412 엔터프라이즈 애플리케이션 아키텍처 패턴 16장 18장 총 99페이지 2024 05 17
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter16_Offline_Concurrency_Patterns/16.1_Optimistic_Offline_Lock.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter16_Offline_Concurrency_Patterns/16.2_Pessimistic_Offline_Lock.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter16_Offline_Concurrency_Patterns/16.3_Coarse_Grained_Lock.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter16_Offline_Concurrency_Patterns/16.4_Implicit_Lock.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter17_Session_State_Patterns/17.1_Client_Session_State.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter17_Session_State_Patterns/17.2_Server_Session_State.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter17_Session_State_Patterns/17.3_Database_Session_State.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.10_Service_Stub.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.11_Record_Set.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.1_Gateway.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.2_Mapper.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.3_Layer_Supertype.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.4_Separated_Interface.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.5_Registry.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.6_Value_Object.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.7_Money.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.8_Special_Case.md
  2024/PatternsOfEnterpriseApplicationArchitecture/jongfeel/Chapter18_Base_Patterns/18.9_Plugin.md
Labels: 2024, Patterns of Enterprise Application Architecture

#415 dhlee-poeaa week6
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch16.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch17.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch18.md
Labels: 2024, Patterns of Enterprise Application Architecture

#416 Feat: Add 16,17,18.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/16.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/17.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/18.md
Labels: 2024, Patterns of Enterprise Application Architecture

#421 객체지향의 사실과 오해 1-4장
  2024/TheEssenseOfObjectOrientation/yeshin/Chapter_1_A_Community_Of_Collaborating_Objects.md
  2024/TheEssenseOfObjectOrientation/yeshin/Chapter_2_Objects_In_Wonderland.md
  2024/TheEssenseOfObjectOrientation/yeshin/Chapter_3_Types_And_Abstraction.md
  2024/TheEssenseOfObjectOrientation/yeshin/Chapter_4_Roles_Responsibilities_Collaborations.md
Labels: 2024, 객체지향의 사실과 오해

#422 The essense of object orientation review and discussion, chapter 1 ~ 4
  2024/TheEssenseOfObjectOrientation/Chapter_1_협력하는_객체들의_공동체.md
  2024/TheEssenseOfObjectOrientation/Chapter_2_이상한_나라의_객체.md
  2024/TheEssenseOfObjectOrientation/Chapter_3_타입과_추상화.md
  2024/TheEssenseOfObjectOrientation/Chapter_4_역할_책임_협력.md
Labels: 객체지향의 사실과 오해

#423 객체지향의 사실과 오해 1장 ~ 4장
  .DS_Store
  2021/.DS_Store
  2023/.DS_Store
  2023/FundamentalsOfSoftwareArchitecture/.DS_Store
  2023/RadicalCandor/.DS_Store
  2023/TheEssenseOfObjectOrientation/.DS_Store
  2023/TheEssenseOfObjectOrientation/harryho/ch01-04.md
  2024/.DS_Store
Labels: 객체지향의 사실과 오해

#424 dhlee-teooo week1
  2024/TheEssenseOfObjectOrientation/ch01.md
  2024/TheEssenseOfObjectOrientation/ch02.md
  2024/TheEssenseOfObjectOrientation/ch03.md
  2024/TheEssenseOfObjectOrientation/ch04.md
Labels: 2024, 객체지향의 사실과 오해

#425 Feat: Add 1,2,3,4.md for oop
  2024/TheEssenseOfObjectOrientation/taehyoung/ch01.md
  2024/TheEssenseOfObjectOrientation/taehyoung/ch02.md
  2024/TheEssenseOfObjectOrientation/taehyoung/ch03.md
  2024/TheEssenseOfObjectOrientation/taehyoung/ch04.md
Labels: 2024, 객체지향의 사실과 오해

#427 Docs: Add Chapter 05~07 / SupplementA
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter00.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter01.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter02.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter03.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter04.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter05.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter06.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/Chapter07.md
  2024/TheEssenseOfObjectOrientation/Jeonglee/supplementA.md
Labels: 2024, 객체지향의 사실과 오해
