Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2024-04, with the labels that each got.

#378 Docs: Add ThePsychologyOfComputerProgramming Part04
  2024/ThePsychologyOfComputerProgramming/Jeonglee/Part04.md
Labels: The Psychology of Computer Programming, 2024

#389 P of EAA 1 week
  .github/configs/labeler.yml
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/1.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/2.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/3.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/4.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/5.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/6.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/7.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/8.md
Labels: 2024, Patterns of Enterprise Application Architecture

#372 366 프로그래밍 심리학 3부 개인 행위로 보는 프로그래밍 총 129 페이지 2024 02 16
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_10_Motivation, Training, and Experience.md
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_7_Variations_in_the_programming_task.md
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_8_Personality_Factors.md
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_9_Intelligence, or Problem-Solving Ability.md
Labels: The Psychology of Computer Programming, 2024

#373 dhlee3994 - pocp part3
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch07.md
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch08.md
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch09.md
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch10.md
Labels: The Psychology of Computer Programming, 2024

#374 프로그래밍 심리학(POCP) 3부 개인 행위로 보는 프로그래밍(yeshin)
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_10_Motivation_Training_and_Experience.md
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_7_Variations_In_The_Programming_Task.md
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_8_Personality_Factors.md
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_9_Intelligence_or_Problem-Solving_Ability.md
Labels: The Psychology of Computer Programming, 2024

#376 wooyaggo86 - POCP Part3
  2024/ThePsychologyOfComputerProgramming/wooyaggo86/Part3.md
Labels: The Psychology of Computer Programming, 2024

#379 dhlee3994 - pocp part4
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch11.md
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch12.md
  2024/ThePsychologyOfComputerProgramming/donghyeon/Ch13.md
Labels: The Psychology of Computer Programming, 2024

#380 371 프로그래밍 심리학 4부 프로그래밍 도구 총 133 페이지 2024 02 23
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_11_Programming_Languages.md
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_12_Some_Principles_for_Programming_Language_Design.md
  2024/ThePsychologyOfComputerProgramming/jongfeel/Chapter_13_Other_Programming_Tools.md
Labels: The Psychology of Computer Programming, 2024

#383 Add Part4 Review
  2024/ThePsychologyOfComputerProgramming/wooyaggo86/Part4.md
Labels: The Psychology of Computer Programming, 2024

#385 프로그래밍 심리학(POCP) 4부 프로그래밍 도구(yeshin)
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_11_Programming_Languages.md
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_12_Some_Principles_For_Programming_Language_Design.md
  2024/ThePsychologyOfComputerProgramming/yeshin/Chapter_13_Other_Programming_Tools.md
Labels: The Psychology of Computer Programming, 2024

#390 384 엔터프라이즈 애플리케이션 아키텍처 패턴 1장 8장 총 89 페이지 2024 03 08
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_1_Layering.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_2_Organizing_Domain_Logic.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_3_Mapping_to_Relational_Databases.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_4_Web_Presentation.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_5_Concurrency.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_6_Session_State.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_7_Distribution_Strategies.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_8_Putting_It_All_Together.md
Labels: 2024, Patterns of Enterprise Application Architecture

#391 dhlee3994 - poeaa part1
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch01.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch02.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch03.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch04.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch05.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch06.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch07.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch08.md
Labels: 2024, Patterns of Enterprise Application Architecture

#392 poeaa part1
  2024/PatternsOfEnterpriseApplicationArchitecture/Part1.md
Labels: 2024

#394 393 엔터프라이즈 애플리케이션 아키텍처 패턴 9장 10장 2024 03 22
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_10_Data_Source_Architectural_Patterns.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter_9_Domain_Logic_Patterns.md
Labels: 2024, Patterns of Enterprise Application Architecture

#395 Add 9.md and 10.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/10.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/9.md
Labels: 2024, Patterns of Enterprise Application Architecture

#396 dhlee - poeaa part2
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch09.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch10.md
Labels: 2024, Patterns of Enterprise Application Architecture

#399 Add 11.md and 12.md for P Of EAA week 3
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/11.md
  2024/PatternsOfEnterpriseApplicationArchitecture/taehyoung/12.md
Labels: 2024

#401 dhlee - poeaa part3
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch11.md
  2024/PatternsOfEnterpriseApplicationArchitecture/donghyeon/ch12.md
Labels: 2024, Patterns of Enterprise Application Architecture

#402 397 엔터프라이즈 애플리케이션 아키텍처 패턴 11장 12장 연관 테이블 매핑 까지 2024 04 05
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter11_Object-Relational_Behavioral_Patterns/11.1_Unit_of_Work.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter11_Object-Relational_Behavioral_Patterns/11.2_Identity_Map.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter11_Object-Relational_Behavioral_Patterns/11.3_Lazy_Load.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter12_Object-Relational_Structural_Patterns/12.1_Identity_Field.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter12_Object-Relational_Structural_Patterns/12.2_Foreign_Key_Mapping.md
  2024/PatternsofEnterpriseApplicationArchitecture/jongfeel/Chapter12_Object-Relational_Structural_Patterns/12.3_Association_Table_Mapping.md
Labels: 2024, Patterns of Enterprise Application Architecture

#403 Add Part3 Review
  2024/PatternsOfEnterpriseApplicationArchitecture/Part3.md
Labels: 2024, Patterns of Enterprise Application Architecture
