Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2025-04, with the labels that each got.

#504 도메인 주도 설계란 무엇인가? 1주차 - 김영명
  2025/Domain-Driven Design Quickly/ymkim97/chapter1_2_3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#505 도메인 주도 설계란 무엇인가? 1주차 - 조현우
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter1.md
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter2.md
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#503 도메인 주도 설계란 무엇인가? 1주차 - 권태형
  2025/Domain-Driven Design Quickly/taehyoung/1.md
  2025/Domain-Driven Design Quickly/taehyoung/2.md
  2025/Domain-Driven Design Quickly/taehyoung/3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#506 도메인 주도 설계란 무엇인가? 1주차 - 김지수
  2025/Domain-Driven Design Quickly/tttghost/Chapter1.md
  2025/Domain-Driven Design Quickly/tttghost/Chapter2.md
  2025/Domain-Driven Design Quickly/tttghost/Chapter3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#477 타입으로 견고하게 다형성으로 유연하게 4주차 - 김영명
  2025/RobustWithTypeFlexibleWithPolymorphism/ymkim97/chapter4.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#513 도메인 주도 설계란 무엇인가? 2주차 - 김영명
  2025/Domain-Driven Design Quickly/ymkim97/chapter4_5_6.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#460 타입으로 견고하게 다형성으로 유연하게 2주차 - 조현우
  2025/RobustWithTypeFlexibleWithPolymorphism/aquamagic9/Chapter2.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#467 타입으로 견고하게 다형성으로 유연하게 3주차 - 조현우
  2025/RobustWithTypeFlexibleWithPolymorphism/aquamagic9/Chapter3.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#512 Add domain driven design quickly chapter 4, 5, 6 review and discussions
  2025/Domain-Driven Design Quickly/jongfeel/Chapter4_5_6.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#476 Add chapter4 discussions
  2025/RobustWithTypeFlexibleWithPolymorphism/jongfeel/Chapter4_MergeTwoPolymorphism.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#473 타입으로 견고하게 다형성으로 유연하게 3주차-진태영
  2025/RobustWithTypeFlexibleWithPolymorphism/jintaeyeong/3장 매개변수에 의한 다형성.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#481 타입으로 견고하게 다형성으로 유연하게 4장 진태영
  2025/RobustWithTypeFlexibleWithPolymorphism/jintaeyeong/4장 두 다형성의 만남.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#489 타입으로 견고하게 다형성으로 유연하게 5주차 - 김영명
  2025/RobustWithTypeFlexibleWithPolymorphism/ymkim97/chapter5.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#514 도메인 주도 설계란 무엇인가? 2주차 - 이정안
  2025/Domain-Driven Design Quickly/jeonglee/Chapter00.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter01.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter02.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter03.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter04.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter05.md
  2025/Domain-Driven Design Quickly/jeonglee/Chapter06.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#508 도메인 주도 설계란 무엇인가? 1주차 - 이동현
  2025/Domain-Driven Design Quickly/donghyeon/ch1-2-3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#517 도메인 주도 설계란 무엇인가? 2주차 - 이동현
  2025/Domain-Driven Design Quickly/donghyeon/ch4-5-6.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#516 도메인 주도 설계란 무엇인가? 2주차 - 하업서
  2025/Domain-Driven Design Quickly/hemil0102/4,5,6장.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#488 타입으로 견고하게 다형성으로 유연하게 5주차 - 권태형
  2025/RobustWithTypeFlexibleWithPolymorphism/taehyoung/Chapter5.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#518 도메인 주도 설계란 무엇인가? 2주차 - 권태형
  2025/Domain-Driven Design Quickly/taehyoung/4.md
  2025/Domain-Driven Design Quickly/taehyoung/5.md
  2025/Domain-Driven Design Quickly/taehyoung/6.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#515 도메인 주도 설계란 무엇인가? 2주차 - 조현우
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter4.md
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter5.md
  2025/Domain-Driven Design Quickly/aquamagic9/Chapter6.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#525 Add becoming a better programmer: chapter 1 to 8 review links and discussion
  2025/Becoming a Better Programmer/jongfeel/Chater_1_to_8.md
Labels: 2025, Becoming a Better Programmer

#487 Add discussions chapter 5 and whole review comment
  2025/RobustWithTypeFlexibleWithPolymorphism/jongfeel/Chapter5_PolymorphismByOverloading.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#530 더 나은 프로그래머 되는법 1주차 - 김영명
  2025/Becoming a Better Programmer/ymkim97/chapter1~8.md
Labels: 2025, Becoming a Better Programmer
