Repository ThinkAboutSoftware/AcademicConference, pull requests merged in 2025-03, with the labels that each got.

#459 타입으로 견고하게 다형성으로 유연하게 2주차 - 이정안
  2025/RobustWithTypeFlexibleWithPolymorphism/jeonglee/Chapter02.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#456 타입으로 견고하게 다형성으로 유연하게 2주차 - 권태형
  2025/RobustWithTypeFlexibleWithPolymorphism/taehyoung/Chapter2.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#461 타입으로 견고하게 다형성으로 유연하게 2주차 - Harry
  2025/RobustWithTypeFlexibleWithPolymorphism/hemil0102/2장.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#469 타입으로 견고하게 다형성으로 유연하게 3주차 - 하업서
  2025/RobustWithTypeFlexibleWithPolymorphism/hemil0102/3장.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#480 타입으로 견고하게 다형성으로 유연하게 4주차 - 하업서
  2025/RobustWithTypeFlexibleWithPolymorphism/hemil0102/.DS_Store
  2025/RobustWithTypeFlexibleWithPolymorphism/hemil0102/4장.md
  2025/RobustWithTypeFlexibleWithPolymorphism/hemil0102/Chatepr1.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#498 Add new folders for 2025 academic conference book title
  .DS_Store
  2025/Becoming a Better Programmer/README.md
  2025/Domain-Driven Design Quickly/README.md
Labels: 2025

#450 RobustWithTypeFlexibleWithPolymorphism Chapter1 김지수
  2025/RobustWithTypeFlexibleWithPolymorphism/tttghost/Chapter1.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#495 도메인 주도 설계란 무엇인가? 1주차 - 이정안
  2025/DomainDrivenDesignQuickly/jeonglee/Chapter00.md
  2025/DomainDrivenDesignQuickly/jeonglee/Chapter01.md
  2025/DomainDrivenDesignQuickly/jeonglee/Chapter02.md
  2025/DomainDrivenDesignQuickly/jeonglee/Chapter03.md
Labels: 2025, 도메인 주도 설계란 무엇인가?

#471 타입으로 견고하게 다형성으로 유연하게 3주차 - 이정안
  2025/RobustWithTypeFlexibleWithPolymorphism/jeonglee/Chapter03.md
Labels: 2025, 타입으로 견고하게 다형성으로 유연하게

#500 Add chapter 1, 2, 3 review link and discussion
  2025/Domain-Driven Design Quickly/jongfeel/Chapter1_2_3.md
Labels: 2025, 도메인 주도 설계란 무엇인가?
